@page "/profile"
@using cAPParel.BlazorApp.Models
@inject ILocalStorageService storageService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>User Profile</h3>
<button class="btn btn-primary" @onclick=Logout>Log Out</button>
@if (userData == null)
{
    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    <table class="table">
        <tr>
            <td>Username</td>
            <td>@userData.Username</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>@userData.Role</td>
        </tr>
        <tr>
            <EditForm @Model="">

            </EditForm>
        </tr>
        <tr>
            <td>
                Cart total: $ @userData.Cart.Sum(c=>c.Item.Price*c.Item.PriceMultiplier)
                @foreach (var piece in userData.Cart)
                {
                    <p>@piece.Item.Name, @piece.Size, $ @(piece.Item.Price*@piece.Item.PriceMultiplier)</p>
                    <button class="btn btn-danger" @onclick='async () => {
                        userData.Cart.Remove(piece);
                        await storageService.SetItemAsync("userdata", userData); 
                        StateHasChanged();}'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                        </svg>
                    </button>
                }
            </td>
        </tr>
    </table>  
}


@code {
    private UserData? userData;
    private OrderForCreationDto orderToCreate = new OrderForCreationDto();
    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            userData = await storageService.GetItemAsync<UserData>("userdata");
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        await storageService.RemoveItemAsync("userdata");
        NavigationManager.NavigateTo("/");
    }
}